/* UTILITY*/
body {
  font-family: Sailec-Regular,"system-ui",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,"sans-serif";
}

.bg-color-white {
  background-color: #fff;
}

.bg-color-lightgrey {
  background-color: #F1F3F8;
}

.jumbotron-content-position {
  padding: 30px 0px;
}

.font-white {
  color: #fff;
}

.font-transparent {
  opacity: 0.7;
}

.font-blue {
  color: #2A80F9;
}

.font-darkblue {
  color: #071D4B;
}

.font-gray {
  color: #63708B;
}

.icon-img-resize > img {
  height: 18px;
}

.text-underline {
  text-decoration: underline;
}

li {
  list-style: none;
}

.bg-color-blue-gradient {
  background-image: linear-gradient(#114BBE, #012488);
}
/* navbar */

.nav-row {
  height: 60px;
}

.nav-logo > img {
  width: 158px;
}

.nav-row > ul > li {
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
}

.nav-row > ul > li:hover {
  color: #2A80F9;
}

.nav-row > ul > li:active {
  border: 1px solid #2A80F9;
  border-radius: 5px;
}

.nav-row {
  padding-top: 15px;
}

.hamburger-icon > i {
  font-size: 30px;
  color: #2A80F9;
}

.hamburger-icon > i:hover {
  text-shadow: 3px 3px 3px #5D6985;
}

.button-white {
  background-color: #fff;
  color: #2A80F9;
  border: 1px solid #2A80F9;
  border-radius: 5px;
}

.nav-right {
  float: right;
}
/* jumbotron */

.bg-jumbotron {
  background-image: url("../img/bg-jumbotron.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

form {
  padding: 20px 30px;
  border-radius: 5px;
}

.review-button-block {
  display: block;
  width: 100%;
  font-size: 18px;
  margin-bottom: 5px;
}

.review-button-block > .icon-img-resize {
  float: left;
}

.text-customers-position {
  margin: 30px 0px 30px 0px;
}

.service-terms-content {
  margin: 15px 0px;
}

/* customers section */
.logo-customers-content {
  margin: 20px 0px;
}

.customers-logo > img {
  width: 160px;
  text-align: center;
}

/* products explanation section */
.main-title-product-explanation,
.main-title-developer-section,
.main-title-features {    /*selector for developer title section*/
  margin: 30px 0px;
}

.product-explanation-section .product-specifics-ul {
  padding: 0px;
}

.product-explanation-section .product-specifics-ul > li {
  border-left: 2px solid #63708B;
  padding-left: 15px;
  line-height: 40px;
}

.product-explanation-section .product-specifics-ul > li:hover {
  border-left: 2px solid #2A80F9;
  padding-left: 15px;
  color: #071D4B;
}

.product-specifics-ul,
.box-specifics,
.box-features,
.box-table-one {
  margin-bottom: 30px;
}


/* sezione photoshift */

.photo-swipe {
  margin: 100px 0px;
}

.img-swipe {
  margin-bottom: 10px;
}

.img-swipe > img {
  width: 100%;
  max-width: 300px;
}

/* creazione radiobutton */

.radio-btn-container{
  display: inline-block;
}

.swipe-btn-container {
  margin-top: 40px;
}

.radio-btn-custom {
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  border:2px solid #2A80F9;
  margin-left: 3px;
}

.radio-btn-custom:hover {
  background: #2A80F9;
}

/* tab */
.tab-border-style{
  border-bottom: 1px solid #fff;
  line-height: 30px;
}

ul.row-item-container li {
  display: inline-block;
}
ul.row-item-container li:first-child {
  color: #fff;
  width: 100px;
  text-transform: uppercase;
}
ul.row-item-container li:nth-child(2) {
  color: #fff;
  margin-right: 5px;
  text-transform:capitalize;
}
ul.row-item-container li:nth-child(3) {
  float: right;
}

/* media query */

/* sm */
@media screen and (min-width: 768px) {
  .customers-logo > img {
    width: 96px;
  }
  .product-explanation-section .product-specifics-ul {
    margin-left: 80px;
  }

  .img-swipe > img {
    width: 100%;
    max-width: 390px;
  }


  .left-chevron,
  .right-chevron {
    font-size: 20px;
    color: #63708B;
    margin: 0 20px;
  }

  .left-chevron:hover,
  .right-chevron:hover {
    color: #071D4B ;
  }

}



/* md */
@media screen and (min-width: 992px) {

  .img-swipe > img {
    width: 100%;
    max-width: 600px;
  }

  .left-chevron,
  .right-chevron {
    font-size: 30px;
    color: #63708B;
    margin: 0 20px;
  }

  .left-chevron:hover,
  .right-chevron:hover {
    color: #071D4B ;
  }
  .swipe-btn-container {
    margin-top: 15px;
  }

  .radio-btn-custom {
    width: 13px;
    height: 13px;
  }

}
