.nav-row {
  height: 80px;

  border: 1px solid black;
}

.nav-logo > img {
  width: 158px;

}

.nav-row > ul >li {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
}

.nav-row{
  padding-top: 20px;
}

.hamburger-icon > i {
  font-size: 26px;
}
