/* UTILITY*/
body {
  font-family: Sailec-Regular,"system-ui",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,"sans-serif";
}

.safe-width {        /*permette di non avere rotture del layout sotto i 358px*/
  min-width: 358px;
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.text-underline {
  text-decoration: underline;
}

.position-relative {
  position: relative;
}

.margin-30px-0px {
  margin: 30px 0px;
}

.box-margin-bottom {
  margin-bottom: 30px;
}

.disp-inlineblock {
  display: inline-block;
}

/* utility color */

.bg-color-white {
  background-color: #fff;
}

.bg-color-lightgrey {
  background-color: #F1F3F8;
}

.bg-color-darkblue {
  background-color: #071D4B;
}

.bg-color-blue-gradient {
  background-image: linear-gradient(#114BBE, #012488);
}

.font-white {
  color: #fff;
}

.font-transparent {
  opacity: 0.7;
}

.font-blue {
  color: #2A80F9;
}

.font-darkblue {
  color: #071D4B;
}

.font-coralblue {
  color:#5FD4D1;
}

.font-darkgray {
  color: #63708B;
}

.font-gray {
  color: #7C859B;
}

.tab-border-style{
  border-bottom: 1px solid #fff;
}

.link-hover:hover {
  color: #083ff5;
}

/* utility position */

.fixed-bottom{
  position: fixed;
  z-index: 100;
  bottom: 50px;
  left: 50px;
}

/* size fisse */

.img-swipe > .text-box-carousel > img {
  max-width:300px;
}

.customers-logo > img {
  width: 160px;
  text-align: center;
}

.icon-img-resize > img {
  height: 18px;
}

.get-started-section {
  height: 250px;
}

.nav-row {
  height: 60px;
}

/* navbar */

.nav-logo > a >img {
  width: 158px;
}

.nav-row > ul > li {
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
}

.nav-row > ul > li:hover {
  color: #2A80F9;
}

.nav-row > ul > li:active {
  border: 1px solid #2A80F9;
  border-radius: 5px;
}

.nav-row {
  padding-top: 15px;
}

.hamburger-icon > i {
  font-size: 25px;
  color: #2A80F9;
}

.hamburger-icon > i:hover {
  text-shadow: 3px 3px 3px #5D6985;
}

.button-white {
  background-color: #fff;
  color: #2A80F9;
  border: 1px solid #2A80F9;
  border-radius: 5px;
}

.button-white:hover {
  background-color: #2A80F9;
  color: #fff;
  border: 1px solid #2A80F9;
  border-radius: 5px;
}

.nav-right {
  float: right;
}

/* jumbotron */

.jumbotron-content-position {
  margin: 30px 0px;
}

.bg-jumbotron {
  background-image: url("../img/digitalocean/bg-jumbotron.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

form {
  padding: 20px 30px;
  border-radius: 5px;
}

.review-button-block {
  display: block;
  width: 100%;
  font-size: 18px;
  margin-bottom: 5px;
  position: relative;
}

.button-icon::before {
  content:"";
  background-image: url("../img/icon/g-icon.png");
  background-size:25px;
  width:25px;
  height:25px;
  position: absolute;
  left: 5px;
}

.service-terms-content {
  margin: 15px 0px;
}

/* products explanation section */

.product-explanation-section .product-specifics-ul > li {
  border-left: 2px solid #63708B;
  padding-left: 15px;
  line-height: 40px;
}

.product-explanation-section .product-specifics-ul > li:hover {
  border-left: 2px solid #2A80F9;
  padding-left: 15px;
  color: #071D4B;
}

/* carousel one*/

.photo-swipe {
  margin: 100px 0px;
}

.img-swipe {
  margin-bottom: 10px;
}

.img-swipe > img {
  width: 100%;
  max-width: 300px;
}

/* creazione radiobutton del carousel */

.swipe-btn-container {
  margin-top: 40px;
}

.radio-btn-custom {
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  border:2px solid #2A80F9;
  margin-left: 3px;
}

.radio-btn-custom:hover {
  background: #2A80F9;
}

/* tab */

ul.row-item-container{
  width: 100%;
}

ul.row-item-container li {
  display: inline-block;
  font-size: 13px;
}

ul.row-item-container li:first-child {
  color: #fff;
  width: 80px;
  text-transform: uppercase;
}

ul.row-item-container li:nth-child(2) {
  color: #fff;
  text-transform:capitalize;
  width: 160px;
  text-align: left;
}

ul.row-item-container li:nth-child(3) {
  width: 80px;
  text-align: center;
  float: right;
}

/* carousel two */

.img-swipe > .text-box-carousel {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  padding: 10px;
}

.quote {
  font-size: 25px;
  margin: 20px 0px;
}

.author-quote {
  font-weight: bolder;
  margin-bottom: 15px;
}

/* sezione get started */

.button-create-account {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  margin: 20px 0px;
}

.button-create-account:hover {
  opacity: 0.8;
}

.main-title-get {
  margin:0;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */

.logo-footer {
  margin-bottom: 10px;
}

.social-icon > i {
  font-size: 20px;
  margin-top: 5px;
  margin-right: 10px;
}

.social-icon > i:hover,
.footer-list > li:hover {
  color: #fff;
}

/* shark speech bubble */

.shark > img {
  height: 65px;
  transform: translateY(-15px);
  opacity: 0.5;
  margin-right: 10px;
}

.shark :hover  {
  opacity: 1;
}

.speech-bubble {
  display:none;
  background-color: #fff;
  border-radius: 5px;
  min-width: 100px;
  max-width: 348px;
  max-height: 70px;
  position: relative;
}

.text-speech-bubble {
  padding: 10px;
}

.speech-bubble::before {
  display: inline;
  position: absolute;
  content: "";
  background-color: #fff;
  top: 40px;
  left: -5px;
  transform: rotate(45deg);
  border: 5px solid #fff;
}

.shark:hover ~ .speech-bubble {
  display: inline-block;
  box-shadow: 3px 3px 3px black;
}

/* media query */

/* SM */

@media screen and (min-width: 768px) {
  .customers-logo > img {
    width: 96px;
  }
  .product-explanation-section .product-specifics-ul {
    margin-left: 80px;
  }

  /* carousel */

  .img-swipe > img,
  .img-swipe > .text-box-carousel {
    width: 100%;
    max-width: 390px;
    vertical-align: middle;
  }

  .left-chevron,
  .right-chevron {
    font-size: 20px;
    color: #63708B;
    margin: 0 20px;
    vertical-align: middle;
  }

  .left-chevron:hover,
  .right-chevron:hover {
    color: #071D4B ;
  }
}

/* MD */

@media screen and (min-width: 992px) {
  .img-swipe > img,
  .img-swipe > .text-box-carousel {
    width: 100%;
    max-width: 600px;
    vertical-align: middle;
  }

  /* carousel */
  .left-chevron,
  .right-chevron {
    font-size: 30px;
    color: #63708B;
    margin: 0 20px;
  }

  .left-chevron:hover,
  .right-chevron:hover {
    color: #071D4B ;
  }

  .swipe-btn-container {
    margin-top: 15px;
  }

  .radio-btn-custom {
    width: 13px;
    height: 13px;
  }

  /* shark speech-bubble */

  .fixed-bottom{
    left: auto;
    right: 50px;
  }
  .shark {
    float: right;
    transform: translateY(15px);
  }

  .shark > img {
    margin-right: 0;
    margin-left: 15px;
    transform: translateY(-20px);
  }

  .speech-bubble::before {
    display: none
  }

  .speech-bubble::after {
    display: inline;
    position: absolute;
    content: "";
    background-color: #fff;
    top: 40px;
    right: -5px;
    transform: rotate(45deg);
    border: 5px solid #fff;
  }
}
